name: Announce Release

on:
  workflow_dispatch:
    inputs:
      component:
        description: 'What component release do you want to announce?'
        required: true
        type: choice
        options:
          - keycloak-server
          - keycloak-js
          - keycloak-client
          - keycloak-nodejs-connect
      version:
        description: 'Version of the component to announce'
        required: true
        type: string

concurrency: rel-${{ github.ref }}

defaults:
  run:
    shell: bash

jobs:

  show-inputs:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Anouncing release of ${{ inputs.component }}  " >> $GITHUB_STEP_SUMMARY
          echo "Version: ${{ inputs.version }}  " >> $GITHUB_STEP_SUMMARY

  env:
    uses: ./.github/workflows/x-env.yml

  check-gh-release-presence:
    name: Check presence of corresponding release
    runs-on: ubuntu-latest
    needs: [env]
    steps:
      - run: |
          if [[ "${{ inputs.component }}" == "keycloak-server" ]]; then
            gh release ${{ inputs.version }} --repo ${{ needs.env.outputs.gh-org }}/keycloak --json assets >> $GITHUB_STEP_SUMMARY
          elif [[ "${{ inputs.component }}" == "keycloak-js" ]]; then
            gh release ${{ inputs.version }} --repo ${{ needs.env.outputs.gh-org }}/keycloak-js --json assets >> $GITHUB_STEP_SUMMARY
          elif [[ "${{ inputs.component }}" == "keycloak-client" ]]; then
            gh release ${{ inputs.version }} --repo ${{ needs.env.outputs.gh-org }}/keycloak-client --json assets >> $GITHUB_STEP_SUMMARY
          elif [[ "${{ inputs.component }}" == "keycloak-nodejs-connect" ]]; then
            gh release ${{ inputs.version }} --repo ${{ needs.env.outputs.gh-org }}/keycloak-nodejs-connect --json assets >> $GITHUB_STEP_SUMMARY
          else
            echo "Announce of component '${{ inputs.component }}' is not supported." >> $GITHUB_STEP_SUMMARY
            exit 1
          fi 

  keycloak-quickstarts:
    name: Keycloak QuickStarts
    needs: [env,check-gh-release-presence]
    uses: ./.github/workflows/x-keycloak-quickstarts.yml
    with:
      gh-org: ${{ needs.env.outputs.gh-org }}
      component: ${{ github.event.inputs.component }}
      version: ${{ github.event.inputs.version }}
      target-branch: main
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

  update-website:
    name: Update website
    uses: ./.github/workflows/x-keycloak-web.yml
    needs: [env,check-gh-release-presence]
    with:
      gh-org: ${{ needs.env.outputs.gh-org }}
      component: ${{ github.event.inputs.component }}
      version: ${{ github.event.inputs.version }}
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
