name: Sync forks

on:
  workflow_dispatch:
    inputs:
      hard-reset:
        type: boolean
        default: false

concurrency: rel-branches

defaults:
  run:
    shell: bash

jobs:

  env:
    uses: ./.github/workflows/x-env.yml

  sync-branches:
    name: Rebase from upstream
    runs-on: ubuntu-latest
    needs: [env]
    if: needs.env.outputs.gh-org == 'keycloak-rel-testing'

    strategy:
      matrix:
        repository:
          - keycloak
          - keycloak-nodejs-connect
          - keycloak-quickstarts
          - keycloak-web
          - keycloak.github.io

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        repository: '${{ needs.env.outputs.gh-org }}/${{ matrix.repository }}'
        token: ${{ secrets.GH_TOKEN }}
        path: ${{ matrix.repository }}
        ref: 'main'

    - name: Add upstream
      run: |
        git remote add upstream https://github.com/keycloak/${{ matrix.repository }}.git
        git fetch upstream
      working-directory: ${{ matrix.repository }}

    - name: Sync main branch from upstream
      if: ( ! inputs.hard-reset )
      run: |
        git rebase upstream/main
        git push origin main:main
      working-directory: ${{ matrix.repository }}

    - name: Reset main branch from upstream
      if: inputs.hard-reset
      run: |
        git reset --hard upstream/main
        git push --force origin main:main
      working-directory: ${{ matrix.repository }}
