name: X Keycloak Container

on:
  workflow_call:
    inputs:
      gh-org:
        required: true
        type: string
      quay-org:
        required: true
        type: string
      docker-org:
        required: true
        type: string
      version:
        required: true
        type: string
      tag:
        required: true
        type: string
      respin:
        required: false
        default: 0
        type: string
    secrets:
      GH_TOKEN:
        required: true
      QUAY_USERNAME:
        required: true
      QUAY_TOKEN:
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout scripts repository to the runner
        uses: actions/checkout@v3
        with:
          repository: "${{ inputs.gh-org }}/keycloak-rel"
          token: ${{ secrets.GH_TOKEN }}
          path: keycloak-rel

      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          repository: '${{ inputs.gh-org }}/keycloak'
          token: ${{ secrets.GH_TOKEN }}
          ref: ${{ inputs.tag }}
          path: keycloak

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1.2.0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0

      - name: Container metadata
        id: meta
        uses: docker/metadata-action@v3.6.2
        with:
          images: |
            quay.io/${{ inputs.quay-org }}/keycloak
            docker.io/${{ inputs.docker-org }}/keycloak
          tags: |
            type=raw,value=nightly,enable=${{ inputs.tag == 'nightly' }}
            type=semver,pattern={{version}},value=${{ inputs.tag }},enable=${{ inputs.tag != 'nightly' }}
            type=semver,pattern={{version}},value=${{ inputs.tag }}-${{ inputs.respin }},enable=${{ inputs.tag != 'nightly' }}
            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.tag }},enable=${{ inputs.tag != 'nightly' }}

      - name: Login to Quay
        uses: docker/login-action@v1.14.1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Login to Docker
        uses: docker/login-action@v1.14.1
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Download Keycloak
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        working-directory: keycloak
        run: |
          ${{ github.workspace }}/keycloak-rel/.github/scripts/retry.sh "gh release download -R ${{ inputs.gh-org }}/keycloak -p keycloak-${{ inputs.version }}.tar.gz -D ./quarkus/container ${{ inputs.tag }}" 

      - name: Build and push
        uses: docker/build-push-action@v2.10.0
        with:
          context: ${{ github.workspace }}/keycloak/quarkus/container
          platforms: linux/amd64,linux/arm64,linux/ppc64le
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            KEYCLOAK_DIST=keycloak-${{ inputs.version }}.tar.gz
            KEYCLOAK_VERSION=${{ inputs.version }}

      - name: Show Container Tags
        run: |
          echo "${{ steps.meta.outputs.tags }}" >> $GITHUB_STEP_SUMMARY
