name: X Keycloak QuickStarts

on:
  workflow_call:
    inputs:
      gh-org:
        required: true
        type: string
      tag:
        required: true
        type: string
      target-branch:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          repository: '${{ inputs.gh-org }}/keycloak-quickstarts'
          token: ${{ secrets.GH_TOKEN }}
          ref: ${{ inputs.tag }}

      - name: Update branch
        run: |
          git switch -C ${{ inputs.target-branch }}
          git push --force origin refs/heads/${{ inputs.target-branch }}

      - name: Show QuickStart branch
        run: echo "https://github.com/${{ inputs.gh-org }}/keycloak-quickstarts/tree/${{ inputs.quickstarts-target-branch }}  " >> $GITHUB_STEP_SUMMARY
