name: X Publish Github releases

on:
  workflow_call:
    inputs:
      gh-org:
        required: true
        type: string
      keycloak-rel-org:
        required: true
        type: string
      tag:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  publish-gh-releases:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout scripts repository to the runner
        uses: actions/checkout@v3
        with:
          repository: "${{ inputs.keycloak-rel-org }}/keycloak-rel"
          token: ${{ secrets.GH_TOKEN }}
          path: keycloak-rel

      - name: Publish release
        run: |
          $GITHUB_WORKSPACE/keycloak-rel/.github/scripts/retry.sh "gh release edit ${{ inputs.tag }} --repo ${{ inputs.gh-org }}/keycloak --draft=false"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  list-github-releases:
    name: Show GitHub Releases
    runs-on: ubuntu-latest
    needs: [publish-gh-releases]
    steps:
      - run: |
          echo "https://github.com/${{ inputs.gh-org }}/keycloak/releases/tag/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY          
