name: X Publish NPM packages

on:
  workflow_call:
    inputs:
      gh-org:
        required: true
        type: string
      keycloak-rel-org:
        required: true
        type: string
      tag:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true
      NPM_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - tarball: keycloak-admin-ui-${{ inputs.tag }}.tgz
          - tarball: keycloak-account-ui-${{ inputs.tag }}.tgz
          - tarball: keycloak-ui-shared-${{ inputs.tag }}.tgz
          - tarball: keycloak-admin-client-${{ inputs.tag }}.tgz
    steps:
      - name: Checkout scripts repository to the runner
        uses: actions/checkout@v3
        with:
          repository: "${{ inputs.keycloak-rel-org }}/keycloak-rel"
          token: ${{ secrets.GH_TOKEN }}
          path: keycloak-rel

      - name: Download archive
        run: |
          $GITHUB_WORKSPACE/keycloak-rel/.github/scripts/retry.sh "gh release download ${{ inputs.tag }} --repo ${{ inputs.gh-org }}/keycloak --pattern '${{ matrix.tarball }}'"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          check-latest: true
          registry-url: https://registry.npmjs.org

      - name: Publish to NPM
        run: npm publish ${{ matrix.tarball }} --access public --ignore-scripts ${{ inputs.gh-org != 'keycloak' && ' --dry-run' || '' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  list-npm:
    name: Show NPM packages
    runs-on: ubuntu-latest
    needs: [publish-npm]
    if: inputs.gh-org == 'keycloak'
    steps:
      - run: |
          echo "https://www.npmjs.com/package/@keycloak/keycloak-admin-client/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
          echo "https://www.npmjs.com/package/@keycloak/keycloak-admin-ui/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
          echo "https://www.npmjs.com/package/@keycloak/keycloak-account-ui/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
          echo "https://www.npmjs.com/package/@keycloak/keycloak-ui-shared/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
