name: X Publish NPM packages

on:
  workflow_call:
    inputs:
      gh-org:
        required: true
        type: string
      tag:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true
      NPM_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tarball:
          - keycloak-admin-client-${{ inputs.tag }}.tgz
          - keycloak-nodejs-connect.tgz
          - keycloak-js-${{ inputs.tag }}.tgz
    steps:
      - name: Download archive
        run: gh release download ${{ inputs.tag }} --repo ${{ inputs.gh-org }}/keycloak --pattern '${{ matrix.tarball }}'
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          check-latest: true
          registry-url: https://registry.npmjs.org

      - name: Publish to NPM
        run: npm publish ${{ matrix.tarball }} --ignore-scripts ${{ inputs.gh-org != 'keycloak' && ' --dry-run' || '' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # TODO: Remove this once we stop supporting the Node.js Connect package.
      - name: Deprecate package
        if: inputs.gh-org == 'keycloak' && matrix.tarball == 'keycloak-nodejs-connect.tgz'
        run: npm deprecate -f keycloak-connect "This package is deprecated and will be removed in the future. We will shortly provide more details on removal date, and recommended alternatives."
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  list-npm:
    name: Show NPM packages
    runs-on: ubuntu-latest
    needs: [publish-npm]
    if: inputs.gh-org == 'keycloak'
    steps:
      - run: |
          echo "https://www.npmjs.com/package/@keycloak/keycloak-admin-client/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
          echo "https://www.npmjs.com/package/keycloak-js/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
