name: X Publish NPM packages

on:
  workflow_call:
    inputs:
      gh-org:
        required: true
        type: string
      tag:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true
      NPM_TOKEN:
        required: true

defaults:
  run:
    shell: bash

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - tarball: keycloak-account-ui-${{ inputs.tag }}.tgz
          - tarball: keycloak-ui-shared-${{ inputs.tag }}.tgz
          - tarball: keycloak-admin-client-${{ inputs.tag }}.tgz
          - tarball: keycloak-js-${{ inputs.tag }}.tgz
          - tarball: keycloak-nodejs-connect.tgz
            repo: keycloak-nodejs-connect
    steps:
      - name: Download archive
        run: gh release download ${{ inputs.tag }} --repo ${{ inputs.gh-org }}/${{ matrix.repo || 'keycloak' }} --pattern '${{ matrix.tarball }}'
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          check-latest: true
          registry-url: https://registry.npmjs.org

      - name: Publish to NPM
        run: npm publish ${{ matrix.tarball }} --ignore-scripts ${{ inputs.gh-org != 'keycloak' && ' --dry-run' || '' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  list-npm:
    name: Show NPM packages
    runs-on: ubuntu-latest
    needs: [publish-npm]
    if: inputs.gh-org == 'keycloak'
    steps:
      - run: |
          echo "https://www.npmjs.com/package/@keycloak/keycloak-admin-client/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
          echo "https://www.npmjs.com/package/@keycloak/keycloak-account-ui/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
          echo "https://www.npmjs.com/package/@keycloak/keycloak-ui-shared/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
          echo "https://www.npmjs.com/package/keycloak-js/v/${{ inputs.tag }}  " >> $GITHUB_STEP_SUMMARY
